button {
	appearance: none;
	border: 0;
	border-radius: $border-radius;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	touch-action: manipulation;
	user-select: none;
	vertical-align: middle;
	// text-shadow: 0 1px 0 rgba(255,255,255,0.7);

	&:disabled {
		cursor: default;
	}
	&:hover {
		text-decoration: none;
	}

	&:focus {
		outline: 0;
	}
}

.btn {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
	height: 48px;
	padding-left: 1em;
	padding-right: 1em;
}

.btn-large {  
	@include media-breakpoint-up(md) {
		font-size: 20px;
		line-height: 24px;
		height: 62px;
	}
}



.btn-primary {
	color: theme-color("onwhite-normal");
	background: linear-gradient(180deg, #FEEEBB 0%, #F2CE5B 21.09%, #F2C11D 49.76%, #E6B000 100%);
	box-shadow:
	    0 0 0 1px rgba(0, 0, 0, .24),
	    0 6px 10px -1px rgba(0, 0, 0, .06),
	    0 4px 6px -1px rgba(0, 0, 0, .12),
	    inset 0 -3px 8px 0 rgba(255, 255, 255, .32),
		inset 0 0 0 1px rgba(255, 255, 255, .16);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	
	&:hover:not([disabled]) {
		background: linear-gradient(180deg, #FFFBED 0%, #F6DC8A 21.09%, #F5CE4D 49.76%, #FFC91A 100%);		
	}
	&:focus {
		background: linear-gradient(180deg, #FEEEBB 0%, #F2CE5B 21.09%, #F2C11D 49.76%, #E6B000 100%);
		box-shadow: inset 0 -3px 8px 0 rgba(255,255,255,0.32), inset 0 0 0 1px rgba(255,255,255,0.16), 0 0 0 1px #FFFFFF, 0 0 0 4px #FDC201, 0 6px 10px -1px rgba(0,0,0,0.06), 0 4px 6px -1px rgba(0,0,0,0.12);
	}
	&:active {
		background: linear-gradient(180deg, #E6B000 0%, #FEEEBB 100%);
	}
	
}

.btn-secondary {
	background-color: theme-color("secondary");
	color: theme-color("light-normal");
	// border: 1px solid #929292;
	// box-shadow: 0 5px 10px -1px rgba(0,0,0,0.06), 0 3px 6px -1px rgba(0,0,0,0.12);
	box-shadow: inset 0 0 0 1px #929292;
	
	&:hover:not([disabled]) {
		background-color:#979797;
	}
	&:focus {
		box-shadow: 0 0 0 3px #929292;
	}
	&:active {
		background-color: #0F0F0F;
	}
	
	.is-negative {
		background: rgba(0, 0, 0, .12);
		box-shadow:
		  inset 0 0 0 1px rgba(255, 255, 255, .5),
		  0 5px 10px -1px rgba(0, 0, 0, .06),
		  0 3px 6px -1px rgba(0, 0, 0, .12);
	  
		&:hover {
		  background: rgba(255, 255, 255, .24);
		}
	}
	
}
