/**/.vscode
/**/node_modules/**/*
/**/*.log
/**/yarn.lock
/**/.history/**/*
/**/.idea/**/*
/**/npm-debug.log
/**/package-lock.json
/**/.vscode
/**/log
/**/yarn-error.log
/**/.env
/**/stats.html
/**/.DS_Store
/**/db_data
/**/dist
/external
/**/.next
/**/.secrete*
/**/now*